html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-cl;
  color: $color-text;
}

section {
  margin: auto;
  max-width: 720px;
  margin-bottom: 80px;
  padding: 0 16px;
}

pre,
code {
  font-family: Hack, monospace;
  font-size: 1em;
}

pre {
  display: flex;
  position: relative;
  margin: 0;

  @media (min-width: 769px) {
    &:hover {
      .copy {
        visibility: visible;
      }
    }
  }
}

input {
  background-color: $color-bg;
  border-radius: 5px;
  border: none;
  color: $color-text;
  height: 40px;
  margin-left: 8px;
  padding: 0 8px;
  font-size: 20px;
}

header {
  background-color: $color-bg;
  display: flex;
  height: 400px;
  margin-bottom: 70px;
}

footer {
  background-color: $color-bg;
  display: flex;
  height: 100px;
}

a {
  color: $color-pink;
}

h1 {
  color: $color-purple;
}

::selection {
  background: $color-selection;
}

.btn {
  align-items: center;
  background-color: $color-bg;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  padding: 8px 16px;
  position: relative;
  transition: background-color .1s ease-in-out;
  user-select: none;
  color: $color-text;

  &:hover {
    background-color: mix($color-bg, $color-cl);
  }
}

.notify {
  position: absolute;
  background-color: rgba($color-bg, .87);
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 10px;
  left: 2px;
  bottom: -24px;
}

.author {
  margin: auto;
  max-width: 600px;
  padding: 0 16px;
}

.title {
  font-size: 5em;
  margin: auto;
  max-width: 600px;
  padding: 0 16px;

  &__accent {
    color: $color-cyan;
  }
}

.highlight {
  color: $color-yellow;
}

.spacer {
  margin-bottom: 50px;
}

.copy {
  background-color: rgba($color-cyan, .57);
  border-radius: 0 5px;
  border: none;
  color: $color-text;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  right: 0;
  user-select: none;
  visibility: visible;

  @media (min-width: 769px) {
    visibility: hidden;
  }
}

.description {
  font-size: 1.5em;
}

.example {
  display: flex;
}

.github-link {
  position: absolute;
  padding: 16px;
  right: 0;
  top: 0;

  img {
    height: 50px;
    width: 50px;
  }
}
