.js-snippet {
  color: $color-fg;
  background-color: $color-bg;
  border-radius: 5px;
  width: 100%;
  display: block;
  padding: 16px;
  box-sizing: border-box;
  overflow: auto;
}

.js-tag,
.js-title,
.js-keyword,
.js-operator {
  color: $color-pink;
}

.js-keyword--bold {
  font-weight: bold;
}

.js-string {
  color: $color-yellow;
}

.js-attribute,
.js-function {
  color: $color-green;
}

.js-parameter {
  color: $color-orange;
}

.js-built_in {
  color: $color-cyan;
}

.js-comment {
  color: $color-comment;
}

.js-global,
.js-integer {
  color: $color-purple;
}
