// Dragula color palette
$color-bg: rgb(40, 42, 54);
$color-cl: rgb(68, 71, 90);
$color-fg: rgb(248, 248, 242);
$color-comment: rgb(98, 114, 164);
$color-cyan: rgb(139, 233, 253);
$color-green: rgb(80, 250, 123);
$color-orange: rgb(255, 184, 108);
$color-pink: rgb(255, 121, 198);
$color-purple: rgb(189, 147, 249);
$color-red: rgb(255, 85, 85);
$color-yellow: rgb(241, 250, 140);
$color-text: rgba($color-fg, .87);
$color-selection: rgba($color-fg, .3);
